.notfound {
  font-size: 30px;
  font-weight: 600;
}

.castList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 30px;
}

.castImg {
  width: 300px;
  height: 430px;
}
.castName {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.castCharacter {
  font-size: 18px;
  color: rgb(15, 46, 46);
  text-align: center;
}
